{% block title %}changer son mot de passe{% endblock %}

{% extends 'bundles/FOSUserBundle/layout.html.twig' %}

{% block fos_user_content %}

{% trans_default_domain 'FOSUserBundle' %}

<div class="container d-flex justify-content-center mt-5">
    <div class="col-lg-5 col-md-8">
            <h3 class="h4">Changer Mot de Passe</h3>    
            <form class="form"  method="post">
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}
                    <div>
                        <input type="submit" class="col-md-12 btn btn-outline-success mt-3" value="{{ 'change_password.submit'|trans }}" />
                        <a href="{{path('show_home') }}" class="col-md-12 btn btn-outline-info mt-3">Annuler et retourner à l'accueil</a>
                    </div>
                {{ form_end(form) }}
            </form>
        </div>
   </div>
</div>

{% endblock %}
