{% extends 'base.html.twig' %}

{% block title %}Formulaire-Inscription-Wiwatt{% endblock %}

{% block body %}

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center h3 mt-5 mb-3">Formulaire d 'inscription a Wiwatt</h1>
      <hr>
      {{ form_start(registerForm) }}
      {{ form_row(registerForm.lastname, {'attr' : { 'placeholder' :'Nom' }}) }} 
      {{ form_row(registerForm.firstname, {'attr' : { 'placeholder' :'Prénom' }}) }} 
      {{ form_row(registerForm.email, {'attr' : { 'placeholder' :'Email' }}) }}
      {{ form_row(registerForm.phoneNumber, {'attr' : { 'placeholder' :'Télephone' }}) }}
      {{ form_row(registerForm.password.first , {'attr' : { 'placeholder' :'Mot de passe' }}) }}
      {{ form_row(registerForm.password.second , {'attr' : { 'placeholder' :'Confirmer mot de passe' }}) }}
      <hr> 
        <div class="mt-3 d-flex justify-content-center">
          <button type="submit" class="btn col-sm-7 btn-outline-success">Créer mon compte !</button>
        </div>
      {{ form_end(registerForm) }} 
      </div>
    </div>
  </div>
{{ include('partials/footer.html.twig') }}
{% endblock %}