

      <footer class="pt-3 pb-5">
        <div class="d-flex flex-column justify-content-center align-items-center text-center">
          <ul class="d-flex  flex-column justify-content-center  align-items-center">
            <li>
              <a  href="{{ path('mentionslegales_show') }}">Mentions légales</a>
            </li>
            <li>
              <a  href="{{ path('us_page') }}">Qui sommes-nous?</a>              
            </li>
            <li>
              <a  href="{{ path('contact') }}">Nous contacter</a>              
            </li>
            <li>
              <a  href="{{ path('faq_show') }}">FAQ</a>
            </li>
          </ul>
          <div class="d-flex justify-content-center mt-2" >
            <a class="footer-link mx-5 icone" href="http://facebook.com">
              <img src="{{ asset('pictures/facebook.svg') }}" alt="" height="30">
          </a>
          
          <a class="tw-ic footer-link mx-5 icone" href="http://instagram.com">
            <img src="{{ asset('pictures/instagram.svg') }}" alt="" height="30">
          </a>
          
          <a class="ins-ic footer-link mx-5 icone" href="http://twitter.com">
            <img src="{{ asset('pictures/twitter.svg') }}" alt="" height="30">
          </a>

          </div>
        </div>
      </footer>