<h3>La location n'est malheureusement plus possible. </h3>

Bonjour {{booking.renter.firstname|capitalize}}
<br>
{{booking.owner.firstname|capitalize}} a refusé votre demande de location pour le {{booking.vehicle.type.name}} {{booking.vehicle.brand}} {{booking.vehicle.model}}
<br>
N'hesitez pas à faire une nouvelle recherche sur 

<a href="https://wiwatt.fr/">Wiwatt.</a>
