{% extends 'base.html.twig' %}

{% block title %}Mes annonces-Wiwatt{% endblock %}

{% block body %}
<h1 class="mt-5 text-center h3">Mes annonces</h1>
<hr>
<div class="container-fluid">
    <div class="text-center">
      <a href="{{ path('vehicle_leasing_form')}}" class="btn btn-outline-info my-3"> <i class="fa fa-plus-square-o" aria-hidden="true"></i> Nouvelle annonce</a>
    </div>
    <div class="row d-flex justify-content-center overflow-auto pb-3 pt-3">
        {% for vehicle in app.user.vehicles %}
            {% if vehicle.dates | length > 0 %}
                <div class="my-2 pt-3 pb-3 carte col-sm-2 border rounded-lg shadow mx-3">
                {% include 'partials/vehicle-card.html.twig' %}
                <hr>
                <p class="text-center mt-3 text-small font-weight-bold">Dates disponibles</p>
                    <div class="text-center">
                        {% for date in vehicle.dates %}
                            <p class="badge badge-info ">{{ date.availableDate | localizeddate('none', 'none','fr', null, 'd MMMM')  }}</p>
                        {% endfor %}
                    </div>
                    <hr>
                    <form action="{{ path('annonce_delete') }}" method="post" class="row mt-3">
                        <input type="hidden" name="vehicle_id" value="{{ vehicle.id }}">
                        <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
                        <button class="btn col-md-3 mx-auto" type="submit"><i class="fa fa-trash text-danger fa-2x" aria-hidden="true"></i></button>                    
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
      
</div>

{{ include('partials/footer.html.twig') }}

{% endblock %}